body {
    font-family: Arial, sans-serif;
}

.container {
    border-radius: 5px;
}



.container div {
    margin-bottom: 10px;
}

.container label {
    display: inline-block;
    width: 100px;
}

.container input {
    width: 200px;
}

.container button {
    width: 150px;
    padding: 10px;
    background-color: #2bff00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0fb300;
}

#resultado {
    text-align: center;
}
